[Desktop Entry]
Name=Anime Player
Exec=anime_player
Terminal=false
Type=Application
Comment=Video player with the function of improving the quality
Icon=com.mazur.AnimePlayer
Categories=AudioVideo;
